flask==2.3.3
werkzeug==2.3.7
langchain-google-genai
langchain-community
langchain-core
youtube-transcript-api==0.6.1
pytube==15.0.0
pypdf==3.17.1
markdown==3.5
requests==2.31.0
beautifulsoup4==4.12.2
Flask-Session==0.5.0
uuid==1.30
python-dotenv==1.0.0
tqdm==4.66.1